.idea/
# Project exclude paths
/.gradle/
/build/
/model/build/
/model/out/
/model/out/production/classes/
/report/
/repository/build/
/repository/out/
/repository/out/production/classes/
/repository/out/test/classes/
/service/build/
/service/out/
/service/out/production/classes/
/service/out/test/classes/
/tomcat.8082/
/tomcat.8082/work/
/tomcat.8082/work/Tomcat/
/tomcat.8082/work/Tomcat/localhost/
/tomcat.8082/work/Tomcat/localhost/ROOT/
/web/out/
/web/out/production/classes/
*.log
/logs/