<div class="users-container">
  <app-header></app-header>
  <app-navigation></app-navigation>
  <main class="main main-order">
    <div class="order-header">
      Orders Page
    </div>
    <br/>
    <div class="order-place">
      <!--    orders-->
      <div class="users-list">
        <div class="div-table">
          <div class="user-info">
            <div class="div-row">
<!--              <div class="div-cell ten">Id</div>-->
              <div class="div-cell five">View</div>
              <div class="div-cell ten">Total cost</div>
              <div class="div-cell twentyFive">Created</div>
              <div class="div-cell fifty">Description</div>
              <div class="div-cell ten">Completed</div>
            </div>
          </div>
        </div>
      </div>
      <div class="users-list" *ngFor="let order of orders">
        <div class="div-table">
          <div class="user-info">
            <div class="div-row">
              <div class="div-cell five" (click)="view(order.id)"><img class="icon icon-dynamic"
                                         src="assets/icons/caret-right-fill.svg" alt="->" width="35px"
                                         height="35px"></div>
<!--              <div class="div-cell ten">{{order.id}}</div>-->
              <div class="div-cell ten">{{order.totalCost}}</div>
              <div class="div-cell twentyFive">{{order.created}}</div>
              <div class="div-cell fifty">{{order.description}}</div>
              <div class="div-cell ten">
                <div *ngIf="order.completed === true"> Completed </div>
                <div *ngIf="order.completed === false"> No </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-nav">
      <div>{{first + 1}}</div>
      <div id="0" class="nav-btn" (click)="toFirstPage()"><img class="icon icon-dynamic"
                                                               src="assets/icons/skip-backward-fill.svg" alt="menu"
                                                               width="35px" height="35px"></div>
      <div id="1" class="nav-btn" (click)="toPreviousPage()"><img class="icon icon-dynamic"
                                                                  src="assets/icons/caret-left-fill.svg" alt="menu"
                                                                  width="35px"
                                                                  height="35px"></div>
      <div> {{page + 1}}</div>
      <div id="2" class="nav-btn" (click)="toNextPage()"><img class="icon icon-dynamic"
                                                              src="assets/icons/caret-right-fill.svg" alt="menu"
                                                              width="35px"
                                                              height="35px"></div>
      <div id="3" class="nav-btn" (click)="toLastPage()"><img class="icon icon-dynamic"
                                                              src="assets/icons/skip-forward-fill.svg" alt="menu"
                                                              width="35px"
                                                              height="35px"></div>
      <div>{{last + 1}}</div>
    </div>
    <div class="userMessage">
      {{message}}
    </div>
  </main>
</div>

