<app-modal></app-modal>
<div class="users-container">
  <app-header></app-header>
  <app-navigation></app-navigation>
  <main class="main main-order">
    <div class="order-header">
      Cart [Certificates to buy]
    </div>
    <br/>
    <div class="order-place cart">

      <div class="users-list" *ngIf="isProcessBar ===true">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <table mat-table [dataSource]="certificates" class="mat-elevation-z8 wide" *ngIf="isProcessBar ===false">

        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.id}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.name}} </td>
        </ng-container>
        <ng-container matColumnDef="Duration">
          <th mat-header-cell *matHeaderCellDef> Duration</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.duration}} </td>
        </ng-container>

        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> Price, $</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.price|currency:"USD":"symbol"}} </td>
        </ng-container>

        <ng-container matColumnDef="Creation">
          <th mat-header-cell *matHeaderCellDef> Creation</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.creation| date:'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="Modification">
          <th mat-header-cell *matHeaderCellDef> Modification</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.modification| date:'short'}} </td>
        </ng-container>

        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Description</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.description}} </td>
        </ng-container>
        <ng-container matColumnDef="Remove">
          <th mat-header-cell *matHeaderCellDef> Remove</th>
          <td mat-cell *matCellDef="let certificate" (click)="remove(certificate.id)"><mat-icon pointer>remove_shopping_cart</mat-icon> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br/>
      <div class="users-list">
        <div class="label-input">
          <h2>Total cost:{{totalCost|currency:"USD":"symbol"}}</h2>
        </div>
      </div>
      <br/>
      <form class="order-form" method="post">
        <div class="label-input">
          Description
        </div>
        <textarea class="textarea-form-input wide" type="text" name="description" placeholder="Order Description"
                  required="required" [formControl]="description"> maxlength="999" </textarea>
      </form>

      <div class="order-form-footer">
        <button class="register-form-btn gray" mat-raised-button color="lightgreen" (click)="back()">Back</button>
        <button class="register-form-btn gray" mat-raised-button color="lightgreen" (click)="cancel()">Clear Cart</button>

        <button class="register-form-btn" mat-raised-button color="lightgreen" (click)="save()">Submit</button>
      </div>

      <div class="userMessage">
        {{message}}
      </div>
    </div>
  </main>
</div>


