<div class="container">
  <app-header></app-header>
  <app-navigation></app-navigation>
  <main class="main">
    <div class="login-place">
      <div class="logo-big">
        <img src="assets/images/logo.png" alt="logo" width="200px" height="200px">
      </div>
      <form class="login-form" method="post" [formGroup]="loginForm">
        <input class="login-form-input" formControlName="email" type="text" name="username"
               placeholder="Enter Username" required="required"/>
        <input class="login-form-input" formControlName="password" type="password" name="password"
               placeholder="Enter Password"
               required="required"/>
        <button class="login-form-btn" type="submit" (click)="loginProcess()">
          <a class="icon icon-dynamic">
            Login
          </a>
        </button>
        <button class="login-form-btn" type="submit" (click)="toRegisterPage()">
          <a class="icon icon-dynamic">
            Register
          </a>
        </button>
      </form>
      <div>
        {{messageLogin}}
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
