<div class="container">
  <app-header></app-header>
  <app-navigation></app-navigation>
  <main class="main">
    <form method="post" [formGroup]="loginForm">
      <mat-card class="login-place">
        <div class="logo-big">
          <img src="assets/images/logo.png" alt="logo" width="200px" height="200px">
        </div>
        <mat-form-field class="example-full-width">
          <mat-label>Enter login</mat-label>
          <input matInput placeholder="Email" value="" formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Enter password</mat-label>
          <input matInput placeholder="Password" value="" type="password" formControlName="password">
        </mat-form-field>
        <br/>
        <button class="login-form-btn" mat-raised-button color="lightgreen" (click)="loginProcess()">Login</button>
        <br/>
        <button class="login-form-btn" mat-raised-button color="lightgreen" (click)="toRegisterPage()">Register
        </button>
        {{messageLogin}}
      </mat-card>
    </form>
  </main>
  <app-footer></app-footer>
</div>
