<main class="main main-order">
  <div class="order-header">
    New certificate
  </div>
  <br/>
  <div class="order-place">
    <form class="order-form" method="post">
      <br/>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" value="" [formControl]="name">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width">
        <mat-label>Duration,days</mat-label>
        <input matInput placeholder="Duration" value="" [formControl]="duration" >
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width">
        <mat-label>Price, $</mat-label>
        <input matInput placeholder="Price" value="" [formControl]="price" >
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <br/>
      <div class="label-input order-input">
        <!-- -->
        Tags:
        <form [formGroup]="myForm">
          <ng-multiselect-dropdown name="mdTags"
                                   [settings]="dropdownSettings"
                                   [placeholder]="'Select Tag'"
                                   [data]="tagsToSelect" formControlName="tagsControl"
                                   [(ngModel)]="selectedItems"
                                   [disabled]="disabled"
                                   (onFilterChange)="onFilterTextChange($event)"
                                   (onDeSelect)="onItemDeselect($event)"
                                   (onSelect)="onItemSelect($event)"
                                   (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </form>

      </div>
      <br/>
      <div class="label-input order-input">
        Description
        <textarea class="textarea-form-input large" type="text" name="description" placeholder="Description"
                  required="required" [formControl]="description">
                            </textarea>
      </div>
      <br/>
      <div class="order-form-footer">
        <button class="register-form-btn" mat-raised-button color="lightgreen" (click)="back()">Back</button>
<!--        <button class="register-form-btn white-btn " type="submit" (click)="back()">-->
<!--          <a class="icon icon-dynamic">-->
<!--            Back-->
<!--          </a>-->
<!--        </button>-->
        <button id="save" class="register-form-btn" mat-raised-button color="lightgreen" (click)="save()">Create</button>
<!--        <button id="save" class="register-form-btn" type="submit" (click)="save()">-->
<!--          <a class="icon icon-dynamic">-->
<!--            Create-->
<!--          </a>-->
<!--        </button>-->
      </div>
    </form>
    {{message}}
  </div>
</main>

