<app-modal></app-modal>
<app-header></app-header>
<app-navigation></app-navigation>
<main class="main main-order">
  <div class="order-header">
    <div *ngIf="certificate !== undefined">Certificate #{{id}} </div>
  </div>
  <br/>
  <div class="order-place certificate-width">
    <form class="order-form" method="post">
      <br/>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" value="" [formControl]="nameControl">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <div class="big-image">
        <img class="icon" src="assets/images/car.jfif" alt="menu" width="420px"
             height="300px">
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Creation</mat-label>
        <input matInput placeholder="Creation" value="" [formControl]="creation" readonly>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Modification</mat-label>
        <input matInput placeholder="Modification" value="" [formControl]="modification" readonly>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Duration,days</mat-label>
        <input matInput placeholder="Duration" value="" [formControl]="duration">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Price, $</mat-label>
        <input matInput placeholder="Price" value="" [formControl]="price">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <div class="label-input order-input">
        <!-- -->
        Tags:
        <form [formGroup]="myForm">
          <ng-multiselect-dropdown name="mdTags"
                                   [settings]="dropdownSettings"
                                   [placeholder]="'Select Tag'"
                                   [data]="tagsToSelect" formControlName="tagsControl"
                                   [(ngModel)]="selectedItems"
                                   [disabled]="disabled"
                                   (onFilterChange)="onFilterTextChange($event)"
                                   (onDeSelect)="onItemDeselect($event)"
                                   (onSelect)="onItemSelect($event)"
                                   (onSelectAll)="onSelectAll($event)"
                                   class="multiselect-wide">
          </ng-multiselect-dropdown>
        </form>

      </div>
      <div class="label-input order-input">
        Description
        <textarea class="textarea-form-input textarea-certificate" type="text" name="description"
                  placeholder="Order Description"
                  required="required" [formControl]="description">
                            </textarea>
      </div>
      <br/>
      <div class="order-form-footer">

        <button class="register-form-btn gray" mat-raised-button color="lightgreen" (click)="back()">Back</button>
        <div *ngIf="userRole === 'ADMIN'">
          <button id="save" class="register-form-btn" mat-raised-button color="lightgreen" (click)="preSave()">Update
          </button>
          <button id="delete" class="register-form-btn gray" mat-raised-button color="lightgreen" (click)="preDelete()">
            Delete
          </button>
        </div>
      </div>
      <div class="message-error">{{message}}</div>
    </form>
  </div>
</main>
