<main class="main main-order">
  <div class="order-header">
    <div *ngIf="certificate !== undefined">Certificate #{{id}} </div>
  </div>
  <br/>
  <div class="order-place certificate-width">
    <form class="order-form" method="post">
      <div class="label-input order-input">
        Name
        <input class="login-form-input" type="text" name="name" [formControl]="nameControl"/>
      </div>
      <div class="big-image">
        <img class="icon" src="assets/images/car.jfif" alt="menu" width="420px"
             height="300px">
      </div>
      <div class="label-input order-input">
        Creation
        <input class="login-form-input" type="text" name="creation" readonly [formControl]="creation"/>
      </div>
      <div class="label-input order-input">
        Modification
        <input class="login-form-input" type="text" name="modification" readonly [formControl]="modification"/>
      </div>
      <div class="label-input order-input">
        Duration
        <input class="login-form-input small" type="text" name="duration" [formControl]="duration"/>
      </div>
      <div class="label-input order-input">
        Price
        <input class="login-form-input small" type="text" name="price" [formControl]="price"/>
      </div>
      <div class="label-input order-input">
        <!-- -->
        Tags:
        <form [formGroup]="myForm">
          <ng-multiselect-dropdown name="mdTags"
                                   [settings]="dropdownSettings"
                                   [placeholder]="'Select Tag'"
                                   [data]="tagsToSelect" formControlName="tagsControl"
                                   [(ngModel)]="selectedItems"
                                   [disabled]="disabled"
                                   (onFilterChange)="onFilterTextChange($event)"
                                   (onDeSelect)="onItemDeselect($event)"
                                   (onSelect)="onItemSelect($event)"
                                   (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </form>

      </div>
      <div class="label-input order-input">
        Description
        <textarea class="textarea-form-input textarea-certificate" type="text" name="description" placeholder="Order Description"
                  required="required" [formControl]="description">
                            </textarea>
      </div>
      <div class="order-form-footer">
        <button class="register-form-btn white-btn " type="submit" (click)="back()">
          <a class="icon icon-dynamic">
            Back
          </a>
        </button>
        <button id="save" class="register-form-btn" type="submit" (click)="save()">
          <a class="icon icon-dynamic">
            Save
          </a>
        </button>
        <button id="delete" class="register-form-btn" type="submit" (click)="delete()">
          <a class="icon icon-dynamic">
            Delete
          </a>
        </button>
      </div>
    </form>

    {{message}}
  </div>
</main>
