<div class="users-container">
  <app-header></app-header>
  <app-navigation></app-navigation>

  <main class="main main-order">
    <div *ngIf="order !== null && order !== undefined " class="order-header">
      Order #{{order.id}} view
    </div>
    <br/>
    <div *ngIf="isProcessBar ===true">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="order-place cart">

      <div class="label-input">
        Certificates
      </div>
      <div class="users-list cart">
        <div class="div-table">
          <div class="user-info">
            <div class="div-row">
              <div class="div-cell ten">View</div>
              <div class="div-cell five">Id</div>
              <div class="div-cell ten">Name</div>
              <div class="div-cell ten">Duration</div>
              <div class="div-cell five">Price</div>
              <div class="div-cell ten">Creation</div>
              <div class="div-cell ten">Modification</div>
              <div class="div-cell forty">Description</div>
            </div>
          </div>
        </div>
      </div>

      <div class="users-list" *ngFor="let certificate of certificates">
        <div class="div-table">
          <div class="user-info">
            <div class="div-row">
              <div class="div-cell ten" (click)="view(certificate.id)">
                <img class="icon icon-dynamic" src="assets/icons/caret-right-fill.svg" alt="->" width="35px"
                     height="35px">
              </div>
              <div class="div-cell five">{{certificate.id}}</div>
              <div class="div-cell ten">{{certificate.name}}</div>
              <div class="div-cell ten">{{certificate.duration}}</div>
              <div class="div-cell five">{{certificate.price}}</div>
              <div class="div-cell ten">{{certificate.creation}}</div>
              <div class="div-cell ten">{{certificate.modification}}</div>
              <div class="div-cell forty">{{certificate.description}}</div>
              <!--              <div class="div-cell"><img class="icon icon-dynamic"-->
              <!--                                         src="assets/icons/skip-forward-fill.svg" alt="->" width="35px"-->
              <!--                                         height="35px"></div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="users-list">
        <div class="label-input" *ngIf="order !== null && order !== undefined">
          Total cost:{{order.totalCost}}
        </div>
      </div>
      <br/>
      <div *ngIf="order !== null && order !== undefined">
        <div class="label-input" *ngIf="order.completed === true">
          Status: Completed
        </div>
        <div class="label-input" *ngIf="order.completed === false">
          Status: Not Completed
        </div>
      </div>
      <br/>
      <!--    order-->
      <form class="order-form" method="post">
        <div class="label-input">
          Description
        </div>
        <!--        <label class="register-form-label">Description</label>-->
        <textarea class="textarea-form-input wide" type="text" name="description" placeholder="Order Description"
                  required="required" [formControl]="description">
                            </textarea>
      </form>
      <!--      order end-->
      <div class="order-form-footer">
        <button class="register-form-btn white-btn back" type="submit" (click)="back()">
          <a class="icon icon-dynamic">
            Back
          </a>
        </button>

        <button id="complete" class="register-form-btn" type="submit" (click)="complete()">
          <a class="icon icon-dynamic">
            Complete
          </a>
        </button>

        <!--        <button id="uncompleted" class="register-form-btn uncompleted" type="submit" (click)="uncompleted()">-->
        <!--          <a class="icon icon-dynamic">-->
        <!--            Uncompleted-->
        <!--          </a>-->
        <!--        </button>-->
      </div>
      <div class="userMessage">
        {{message}}
      </div>
    </div>
  </main>

</div>



