<app-modal></app-modal>
<div class="users-container">
  <app-header></app-header>
  <app-navigation></app-navigation>

  <main class="main main-order">
    <div *ngIf="order !== null && order !== undefined " class="order-header">
      Order #{{order.id}} view
    </div>
    <div *ngIf="isProcessBar === true">
<!--      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
      <h1>LOADING...</h1>
    </div>
    <br/>
    <div class="order-place cart" *ngIf="isProcessBar !== true">

      <div class="label-input">
        Certificates
      </div>


      <table mat-table [dataSource]="certificates" class="mat-elevation-z8 wide">
        <ng-container matColumnDef="View">
          <th mat-header-cell *matHeaderCellDef> View</th>
          <td mat-cell *matCellDef="let certificate" (click)="view(certificate.id)">
            <mat-icon pointer>pageview</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.id}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.name}} </td>
        </ng-container>
        <ng-container matColumnDef="Duration">
          <th mat-header-cell *matHeaderCellDef> Duration</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.duration}} </td>
        </ng-container>
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> Price</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.price|currency:"USD":"symbol"}} </td>
        </ng-container>
        <ng-container matColumnDef="Creation">
          <th mat-header-cell *matHeaderCellDef> Creation</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.creation| date:'short'}} </td>
        </ng-container>
        <ng-container matColumnDef="Modification">
          <th mat-header-cell *matHeaderCellDef> Modification</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.modification| date:'short'}} </td>
        </ng-container>
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef width="500px"> Description</th>
          <td mat-cell *matCellDef="let certificate"> {{certificate.description}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br/>
      <div class="users-list">
        <div class="label-input" *ngIf="order !== null && order !== undefined">
          <h2>Total cost:{{order.totalCost|currency:"USD":"symbol"}}</h2>
        </div>
      </div>
      <br/>
      <div *ngIf="order !== null && order !== undefined">
        <div class="label-input" *ngIf="order.completed === true">
          Status: Completed
        </div>
        <div class="label-input" *ngIf="order.completed === false">
          Status: Not Completed
        </div>
      </div>
      <div class="message-error">
        {{message}}
      </div>
      <br/>
      <!--    order-->
      <form class="order-form" method="post">
        <div class="label-input">
          Description
        </div>
        <!--        <label class="register-form-label">Description</label>-->
        <textarea class="textarea-form-input" type="text" name="description" placeholder="Order Description"
                  required="required" [formControl]="description">
                            </textarea>
      </form>
      <!--      order end-->
      <br/>
      <div class="order-form-footer">
        <div class="footer-buttons two-btn">
          <button class="register-form-btn gray" mat-raised-button color="lightgreen" (click)="back()">Back</button>
          <button class="register-form-btn" mat-raised-button color="lightgreen" (click)="complete()">Complete</button>
        </div>
      </div>

    </div>
  </main>

</div>



