<app-header></app-header>
<app-navigation></app-navigation>
<main class="main main-order">
  <div class="certificate-header">
    <app-tags></app-tags>
  </div>
  <div class="certificate-place" id="certificate-place">
    <div class="certificate" *ngFor="let certificate of certificates">
      <div class="certificate-main">
        <img class="icon icon-dynamic" src="assets/images/car.jfif" alt="menu" width="320px"
             height="250px"></div>
      <div class="certificate-name">{{certificate.name}}</div>
      <div class="certificate-description">
        <div class="text">{{certificate.description}}</div>
        <div class="expiration">Expires in {{certificate.duration}} days</div>
      </div>
      <div class="certificate-footer">
        <div class="price">${{certificate.price}}</div>
        <div class="edit-buy">
          <a *ngIf="role === 'ADMIN' || role === 'USER'">
            <div class="tooltip">
              <mat-icon id={{certificate.id}} pointer class="icon icon-dynamic"
                        (click)="addToCart(certificate.id)">shopping_cart
              </mat-icon>
              <span id=cart{{certificate.id}} class="tooltiptext">Add to the cart</span>
            </div>
          </a>
          <a>
            <div class="tooltip">
              <mat-icon pointer class="icon icon-dynamic" (click)="toEdit(certificate.id)">
                search
              </mat-icon>
              <span class="tooltiptext">View</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <a class="button" (click)="toPageTop()"><img class="icon icon-dynamic black" src="assets/icons/caret-up.svg"
                                                 alt="menu" width="35px"
                                                 height="35px"></a>
    <a class="button down" (click)="toPageBottom()"><img class="icon icon-dynamic black"
                                                         src="assets/icons/caret-down.svg" alt="menu"
                                                         width="35px"
                                                         height="35px"></a>
  </div>
</main>


<footer class="footer">
  <div *ngIf="isProcessing === true"><h1>LOADING...</h1></div>
</footer>
