<mat-toolbar class="box nav">
  <div class="menu-and-logo">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="toUserPage()" *ngIf=" userRole === 'ADMIN' || userRole === 'USER'">
        <mat-icon>account_box</mat-icon>
        <span>User Page</span>
      </button>
      <button mat-menu-item (click)="toUsers()" *ngIf="userRole === 'ADMIN'">
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </button>
      <button mat-menu-item (click)="toOrders()" *ngIf=" userRole === 'ADMIN' || userRole === 'USER'">
        <mat-icon>receipt</mat-icon>
        <span>Orders</span>
      </button>
      <button mat-menu-item (click)="toCertificates()">
        <mat-icon>add_shopping_cart</mat-icon>
        <span>Certificates</span>
      </button>
      <button mat-menu-item (click)="createCertificate()" *ngIf="userRole === 'ADMIN'">
        <mat-icon>create</mat-icon>
        <span>New Certificate</span>
      </button>
    </mat-menu>

    <div class="logo">
      <img src="assets/images/logo.png" alt="logo" width="40px" height="40px">
    </div>
    <span class="application-label">Certificate application</span>
    <span class="example-spacer"></span>
  </div>

  <div class="search-bar" *ngIf="isShowSearchBar === true">
    <div class="search-bar-one">
      <input id="certificateInput" class="search-bar-input" type="text" name="search_item"
             placeholder="Search by certificate name"  [(ngModel)]="name" [formControl]="searchControl"
        (ngModelChange)="searchByName($event)"/>
    </div>

        <div class="dropdown">
          <div class="dropdown-categories-button">
            <input id="tagInput" class="search-bar-input" type="text" name="search_item"
                   placeholder="All Categories" [(ngModel)]="tagName" [formControl]="searchTag" autocomplete="off">
          </div>

<!--          <div id="dropDown" class="dropdown-content">-->
            <div id="inDropDown" class="dropdown-content">
              <a style="display: block;" *ngFor="let tag of tags" (click)="setTagName(tag.name)">{{tag.name}}</a>
            </div>
<!--          </div>-->
        </div>
  </div>

  <div class="navigation-bar-right">
    <div class="credentials"> {{userRole}} {{userLogin}}</div>
    <div *ngIf="login === 'Logout'">
      <a class="icon icon-dynamic" (click)="cart()">
        <img class="icon icon-dynamic" src="assets/icons/cart-fill.svg" alt="menu" width="20px" height="20px">
      </a>
    </div>

    <a id="login" class="icon icon-dynamic" *ngIf="login === 'Login'" (click)="toLogin()">Login</a>
    <a id="logout" class="icon icon-dynamic" *ngIf="login === 'Logout'" (click)="logout()">Logout</a>
    <a class="icon" *ngIf="login==='Login'">|</a>
    <a class="icon icon-dynamic" (click)="toRegistration()" *ngIf="login==='Login'">Sign In</a>
  </div>

</mat-toolbar>
