.nav {
  background: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.box {
  text-align: left;
}

.dropdown-content {
  transform: translateY(38px);
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 205px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 1000;
}

.dropdown-content a:hover {
  background-color: #ddd;
  z-index: 1000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icon {
  position: relative;
}

.icon-dynamic {
  display: inline-block;
  background-size: cover;
}

.icon-dynamic:hover,
.icon-dynamic:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.menu-and-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10px;
}

.logo {
  flex: 1;
}

#tagInput {
  width: 200px;
  height: 30px;
}
