<main class="main">
  <form class="login-form" method="post" [formGroup]="registerForm">
    <mat-card class="login-place">
      <div class="register-place-head">
        <br/>
        Register
      </div>
      <mat-form-field>
        <mat-label>Enter login (email)</mat-label>
        <input matInput placeholder="Email" value="" formControlName="email">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Enter surname</mat-label>
        <input matInput placeholder="Surname" value="" formControlName="surname">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Enter name</mat-label>
        <input matInput placeholder="Name" value="" formControlName="name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Enter password</mat-label>
        <input matInput placeholder="Password" value="" type="password" formControlName="password">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Repeat password</mat-label>
        <input matInput placeholder="Password" value="" type="password" formControlName="passwordRepeat">
      </mat-form-field>
      <br/>
      <button class="login-form-btn" mat-raised-button color="lightgreen" (click)="toLoginPage()">
        Cancel
      </button>
      <div>
        <br/>
      </div>
      <button class="login-form-btn" mat-raised-button color="lightgreen" (click)="registerProcess()">
        Register
      </button>
      <div class="message">
        {{registerMessage}}
      </div>
    </mat-card>

  </form>
</main>
<app-footer></app-footer>

